@font-face {
    font-family: Open Sans;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

body {
    background-color: #515932;
}

h1, h2 {
    color: #515932;
    text-align: center;
}

nav {
    background-color: #D93636;
    padding: 2px 0;
    text-align: center;
}
nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #F2CEA2;
    text-decoration: none;
    margin: 0 10px;
}

nav li a:hover {
    background-color: #F2CEA2;
    color: #D93636;
}

main {
    text-align: center;
    margin: 0 auto;
}

#container {
    background-color: #F2CEA2;
    color: #515932;
    text-align: center;
    margin: 10px;
    }

#header_img {
    display: block;
    margin: 0 auto;
    padding-top: 35px;
    width: 75%;
}

#container_2 {
    background-color: #F2CEA2;
    color: #515932;
    text-align: center;
    }

#container_3 {
    background-color: #F2CEA2;
    color: #515932;
    text-align: center;
    }

#container_4 {
    background-color: #F2CEA2;
    color: #515932;
    text-align: center;
    }

#lower_area {
    padding: 10px;
}

#lower_area_2 {
    padding: 10px;
}

#lower_area_3 {
    padding: 10px;
}

#lower_area_4 {
    padding: 10px;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

footer {
    font-family: Open Sans;
    text-align: center;
    padding: 40px 0;
    color:#F2CEA2;
    font-weight: bold;
}

.button {
    font-family: Open Sans;
    display: block;
    width: 100px;
    background-color:#515932;
    color:#F2CEA2;
    text-decoration: none;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border: 4px solid #F2CEA2;
    border-radius: 10px;
}

.button:hover {
    background-color:#F2CEA2;
    color:#515932;
    border-color:#515932;

}

.col {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #515932;
}

.gallery {
    text-align: center;
    padding: 20px;
}

.gallery_2 {
    text-align: center;
    padding: 20px;
}

@media (min-width: 768px) {

    nav li {
        display: inline-block;
    }
    
    main {
        display: flex;
    }
}

@media (min-width: 1024px) {

    #gal {
        display: flex;
    }

    #gal_2 {
        display: flex;
    }

    #lower_area {
        display: flex;
    }

    #lower_area_2 {
        display: flex;
    }

    #lower_area_3 {
        display: flex;
    }

    #lower_area_4 {
        display: flex;
    }

    .col {
        margin: 10px;
    }
}