#header_img_2 {
    background-image: url(../images/chalk.avif);
    background-size: cover;
    background-position: center;
    }

body {
    background: url(../images/gradient.jpg);
}

#container_1 {
    text-align: center;
}

#container_2 {
    background-color: #F2AC29;
    text-align: center;
    margin: 10px;
}

H1 {
    color: white;
}

footer {
    width: 100%;
    background-color: #F2AC29;
    color: black;
    text-align: center;
  }

img {
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.row {
    text-align: center;
  }

.col {
    padding: 10px;

}

.col_1 {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #F2AC29;
    width: 50%;
    height: 90%;
}

@media (min-width: 1024px) {

    #container_2 {
        display: flex; 
    }
}

