#header_img_2 {
    background-image: url(../images/chalk.avif);
    background-size: cover;
    background-position: center;
    }

body {
    color: black;
}

#container_1 {
    background-color: #F2E422;
}

H1 {
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F2AC29;
    color: black;
    text-align: center;
  }

  img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 400px;
    max-width: 100%;
}
